body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 900px;
  margin: 10px auto;
}

.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  background-color: yellow;
  min-height: 250px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.note.new {
  background-color: lightgreen;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.note-footer {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 10px;
  margin-top: 16px;
}

.search input {
  border: none;
  background: transparent;
  margin-left: 8px;
  width: 100%;
}

.search input:focus {
  outline: none;
}
